{% extends 'base-theme/base-theme.html' %}
{% block title %}Thank You!{% endblock %}
{% block seo_description %}Description here.{% endblock %}

{% block main_content %}
	
	<div class="row">
		<div class="large-12 columns">
	
			<h3>Thanks for contacting Centriole Solutions!</h3>

			<p>Thanks for choosing Centriole Solutions! We appreciate your business and a representative will be in touch shortly to discuss your needs.</p>
		</div>
	</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
